footer {
  color : $theme-primary;
  border-top: 0.1em solid $theme-secondary;
  h6{
    font-weight: lighter;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
  }

  .underline {
    border-color: white;
    padding: 2em;
  }

  .btn-social{
    font-size: 1.5em;
    margin: 0 1em 0 0;
    color : $theme-primary;
    transition: color ease 0.5s;
    &:after {

      display: block;
      content: '';
      border-bottom: solid 3px #019fb6;
      padding: 0.5em 0 0 0;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &.fromRight:after {
      transform-origin: 100% 50%;
    }

    &.fromLeft:after {
      transform-origin: 0 50%;
    }
  }

  .footer-above {
    padding-top: 50px;
    background-color: $gray-lighter;
  }

  .footer-col {
    margin-bottom: 1em;
  }

  .footer-below {
    padding: 0.5em 0;
    background-color: darken($theme-primary, .05);
  }

  span{
    i{
      color: pink;
    }
  }
}
