footer {
  color : $theme-primary;
  border-top: 0.1em solid $theme-secondary;
  p{
    font-weight: bold;
  }

  .underline {
    border-color: white;
    padding: 2em;
  }

  .btn-social{
    font-size: 1.5em;
    margin: 0 1em 0 0;
    color : $theme-primary;
    transition: color ease 0.5s;
  }

  h3 {
    margin-bottom: 30px;
  }

  .footer-above {
    padding-top: 50px;
    background-color: $gray-lighter;
  }

  .footer-col {
    margin-bottom: 50px;
  }

  .footer-below {
    padding: 25px 0;
    background-color: darken($theme-primary, .05);
  }
}
