@media (max-width:724px) {
  main{
    width : 100% !important;
  }
}
main{
  width : 80%;
  margin: auto;
}
.btn-info{
  background-color: $theme-success !important;
  border-color: $theme-success !important;
  &:hover{
    background-color: $theme-secondary !important;
    border-color: $theme-secondary !important;
    color: $theme-primary !important;
  }
}

body{
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#c{
  width: 100%;
  background-color: $gray-lighter;
  margin: 1em 0 1em 0;
}
