nav{
  border-bottom: 0.1em solid $theme-secondary;
  background-color: white;
  a{
    color: $theme-primary!important;
    transition: color 0.5s ease;
    &:hover{
      color: $theme-secondary!important;
    }
  }
}
